.root {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    padding-left: 45px;
}

.root .destroy{
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
.root:hover .destroy{
    display: block;
}

.root::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    width: 45px;
    background-repeat: no-repeat;
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.root[readonly] {
    cursor: default;
    background: none;
}

.root[selected]::after{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.root[selected] label.content {
  color: #d9d9d9;
  text-decoration: line-through;
}

.root[disabled] {
    /* @Private */
    cursor: $cursor-not-allowed;
    background: none;
    color: $brand-disabled;
}

.root[selected][disabled] {
    background: $gray-lighter;
}
